<!doctype html>
<html lang="{{ .Page.Language | default "en" }}">
  {{ partial "head" . }}
  <body>
      <main id="site-main">
        <article class="post">
          <header>
            <div class="title">
              {{ if $.Scratch.Get "h1" }}
                <h1>{{ .Title }}</h1>
                {{ $.Scratch.Set "h1" false }}
              {{ else }}
                <h2>{{ .Title }}</h2>
              {{ end }}
              {{ with .Description }}<p>{{ . }}</p>{{ end }}
            </div>
          </header>
          <div class="share">
          <section id="socnet-share">
              {{ partial "share-buttons" . }}
          </section>
        </div>
          <div id="content">
            {{ .Content }}
          </div>
        </article>
      </main>
      {{ partial "scripts" . }}
  </body>
</html>
